body, html{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

a{
	font-size: 18px;
	line-height: 0.7;
}

.button{
	font-size: 16px!important;
	transition: 0.3s;
	margin: 10px;
	font-weight: 500;
}


/*<li class="list-group-item">Vestibulum at eros</li>*/